{#<!DOCTYPE html>#}
{#<html>#}
    {#<head>#}
        {#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
        {#<title>An Error Occurred: {{ status_text }}</title>#}
    {#</head>#}
    {#<body>#}
        {#<h1>Oops! An Error Occurred new template</h1>#}
        {#<h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>#}
        {#<h2>Error...............</h2>#}
    {#</body>#}
{#</html>#}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>404 | {{ "genericos.titulo_de_pagina"|trans }}</title>
    <!-- Favicon-->
    <link rel="icon" href="{{ asset('AdminBSBMaterialDesign/favicon.ico') }}" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{{ asset('AdminBSBMaterialDesign/plugins/bootstrap/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{{ asset('AdminBSBMaterialDesign/plugins/node-waves/waves.css') }}" rel="stylesheet"/>

    <!-- Custom Css -->
    <link href="{{ asset('AdminBSBMaterialDesign/css/style.css') }}" rel="stylesheet">
</head>

<body class="four-zero-four">
<div class="four-zero-four-container">
    <div class="error-code">404</div>
    <div class="error-message"></div>
    <div class="button-place">
        <a href="{{ path('AppBundle_homepage') }}" class="btn btn-default btn-lg waves-effect">{{ "genericos.al_inicio"|trans|upper }}</a>
    </div>
</div>

<!-- Jquery Core Js -->
<script src="{{ asset('AdminBSBMaterialDesign/plugins/jquery/jquery.min.js') }}"></script>

<!-- Bootstrap Core Js -->
<script src="{{ asset('AdminBSBMaterialDesign/plugins/bootstrap/js/bootstrap.js') }}"></script>

<!-- Waves Effect Plugin Js -->
<script src="{{ asset('AdminBSBMaterialDesign/plugins/node-waves/waves.js') }}"></script>
</body>

</html>