{% extends 'Dashboard/module/layout.html.twig' %}
{% block body %}
    {% set breadcrumb = {
    'dashboard_index':'menu.inicio',
    'dashboard_grupos_view':'menu.grupos',
    } %}
    {% embed "Dashboard/module/embed/block_header.html.twig" with {'header':("menu.grupos"|trans),'breadcrumb':breadcrumb } %}
    {% endembed %}
    <div class="row">
        <div class="col-sm-10">
            <div class="card full-screen-container">
                <div class="card-header align-items-start justify-content-between flex">
                    <h5 class="card-title pull-left">
                        {{ "menu.grupos"|trans }}
                        <small>{{ "genericos.btn.listado"|trans }}</small>
                    </h5>
                    <ul class="nav nav-pills card-header-pills pull-right">
                        <li class="nav-item">
                            <a href="{{ path('dashboard_grupos_add') }}" class="btn btn-sm btn-outline-primary btn-round">
                                <i class="fa fa-file"></i>
                                <span class="text">{{ "genericos.btn.nuevo"|trans }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-sm btn-link btn-round fullscreen-btn"><i class="fa fa-arrows-alt"></i></button>
                        </li>
                    </ul>
                </div>
                <div class="card-block table-responsive">
                    <table class="table table-bordered table-striped table-hover datatable">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>{{ "list.grupos.nombre"|trans }}</th>
                            <th class="filtro">{{ "list.grupos.roles"|trans }}</th>
                            <th class="xs-hidden"></th>
                            <th class="xs-hidden"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for k,v in listado %}
                            <tr id="{{ v.id }}">
                                <td>{{ v.id }}</td>
                                <td>{{ v.name }}</td>
                                <td>{{ v.roles|unserialize|length }}</td>
                                <td>
                                    <a href="{{ path('dashboard_grupos_edit',{'id':v.id}) }}"
                                       class="btn btn-outline-primary btn-sm waves-effect">
                                        <i class="fa fa-edit"></i>
                                        <span>{{ "genericos.btn.editar"|trans }}</span>
                                    </a>
                                </td>
                                <td>
                                    <button type="button" onclick="carga_data_modal({{ v.id }})"
                                       class="btn btn-outline-danger btn-sm">
                                        <i class="fa fa-times"></i>
                                        <span>{{ "genericos.btn.eliminar"|trans }}</span>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    {% set arrayToModal = {
    'idmodal':'modalEliminar',
    'name_frm':'frm_eliminar',
    'action_frm':'',
    'method_frm':'delete',
    'title':("genericos.titles.eliminar"|trans),
    'txt_btn_aceptar':'genericos.btn.eliminar',
    'class_btn_aceptar':'danger',
    } %}
    {% embed "Dashboard/module/embed/modal.html.twig" with arrayToModal %}
        {% block body %}
            <div class="form-group">
                <label class="form-control-label">{{ "form.grupos.nombre"|trans }}:</label>
                <input type="text" class="form-control" name="name" readonly>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('form[name="frm_eliminar"]').validate({
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        success: function (response, status, xhr) {
                            if (response.status) {
                                toastr['info'](response.msg);
                                $('#modalEliminar').modal('hide');
                                $('.datatable').DataTable().destroy();
                                $('tr[id="' + response.id + '"]').remove();
                                $('.datatable').DataTable();
                                {#window.location.href = "{{ path('dashboard_grupos_view') }}";#}
                            }
                        }
                    });
                }
            });
        });

        function carga_data_modal(id) {
            var urlajax = "{{ path('dashboard_grupos_view_one',{'id':'0'}) }}";
            urlajax = urlajax.replace('0', id);
            var urlform = "{{ path('dashboard_grupos_delete',{'id':'0'}) }}";
            urlform = urlform.replace('0', id);
            $.ajax({
                type: 'POST',
                url: urlajax,
//                data: params,
                beforeSend: function (data) {
                },
                success: function (data) {
                    $('input[name="name"]').val(data.data.name);
                    $('form[name="frm_eliminar"]').attr('action', urlform);
                    $('#modalEliminar').modal('show');
                },
                error: function (data) {
                },
                complete: function (data) {
                }
            });
        }
    </script>
{% endblock %}