{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">person</i>
        </span>
        <div class="form-line">
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"
                   placeholder="{{ 'security.login.username'|trans }}" required autofocus>
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">lock</i>
        </span>
        <div class="form-line">
            <input type="password" class="form-control" id="password" name="_password"
                   placeholder="{{ 'security.login.password'|trans }}" required>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 p-t-5">
            <input class="filled-in chk-col-pink" type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
        <div class="col-xs-4">
            <input class="btn btn-block bg-pink waves-effect" type="submit" id="_submit" name="_submit"
                   value="{{ 'security.login.submit'|trans }}"/>
        </div>
    </div>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
</form>