<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="es" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9 ]>    <html lang="es" class="no-js lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        {#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}Hxnsel{% endblock %}</title>
        {#        <link type="image/x-icon" href="{{LOCAL}}/img/logos/logo-cabecera.ico" rel="shortcut icon" />#}

        {#        {{ include('layout_js_css.twig') }}#}
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="{{ asset('css/AdminLTE/bootstrap/css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        {#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">#}
        <!-- Ionicons -->
        {#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">#}
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('css/AdminLTE/dist/css/AdminLTE.min.css') }}">
        {#<!--VEGAS backgrounf-->
        <link rel="stylesheet" href="{{LOCAL}}/js/vegas-master/dist/vegas.min.css">
        <script src="{{LOCAL}}/js/vegas-master/dist/vegas.min.js"></script>#}

        <!-- jQuery 2.2.3 -->
        <script src="{{ asset('js/jQuery/jquery-2.2.3.min.js') }}"></script>
        <!-- Bootstrap 3.3.6 -->
        <script src="{{ asset('css/AdminLTE/bootstrap/js/bootstrap.min.js') }}"></script>
        {% block js %}
        {% endblock %}
        {% block css %}
        {% endblock %}
    </head>
    <body class="hold-transition login-page">
        {% block contenido %}
        {% endblock %}
        {#<div class="login-box">
            <div class="login-logo">
                <a href="../../index2.html"><b>Admin</b>LTE</a>
                                <img src="{{LOCAL}}/img/logos/logo-header.png" >
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg"><strong>Iniciar Sessión</strong></p>

                <div class="text-center">
                    <strong>Copyright &copy; 2016-2017 <a href="{{LOCAL}}">Sys Hxnsel</a></strong>
                    <p>All rights reserved.</p>
                </div>
            </div>
            <!-- /.login-box-body -->
        </div>#}
        <!-- /.login-box -->
    </body> 
</html>